
.voucherBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.wrapper {
    position: relative;
    width: 97%;
    height: 80%;
    border: 5px solid white;
    /* display: inline-block; */
    text-align: center;
    top: 1rem;
    left: 1vw;   
}

.voucherImage:hover {

    cursor: pointer;
}

@media screen and (min-width: 760px) {
    .popUpWindow {

        border: 2px solid black;
        width: 30vw;
        height: 30vw;
        position: absolute;
        top: 20%;
        left: 35%; 
        background-color: #302C71;
        
    }
    
    .popUpWindow h2{
        margin-top: 1rem;
    }
    
    .popUpWindow button{
        display: block;
        margin: auto;
        margin-top: 1rem;
        border-radius: 5px;
    }
    
    .popUpWindow img{
        margin-top: 2rem;
    }
  }

  @media screen and (max-width: 680px) {
    .popUpWindow {

        border: 2px solid black;
        width: 70vw;
        height: 130vw;
        position: absolute;
        top: 10%;
        left: 15%;
        background-color: #302C71;
        
    }
    
    .popUpWindow h2{
        margin-top: 1rem;
    }
    
    .popUpWindow button{
        display: block;
        margin: auto;
        margin-top: 1rem;
        border-radius: 5px;
    }
    
    .popUpWindow img{
        margin-top: 2rem;
    }
  }

 


