.downloadedVoucher {
    /* border: 2px solid black; */
    width: 60vh;
    height: 60vh;
    position: absolute;
    margin: 20vh 37% auto;
    background-color: #302C71;
    justify-content: center;    
}

.voucherWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.pdf {
    width: '30vh';
    height: '30vh';
    background: #302C71;   
}

.goNextButtons{
    display: flex;
    justify-content: center;
    margin: 4em;   
}

.congrats {
    margin: 2em;
}

.yourCode {
    margin: 1em;
}